.features {
  padding: 50px 20px;
  text-align: center;
  border-bottom: 5px solid white;
  border-radius: 10px;
}

.feature-cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  margin-top: 30px;
  color: white;
}

.card {
  width: 30%;
  max-width: 300px; 
  background: #252425;
  padding: 20px;
  border-radius: 10px; 
  text-align: center;
}

.card img {
  height: 50px;
  max-width: 100%; 
}


@media (max-width: 1024px) {
  .feature-cards {
    justify-content: center;
  }

  .card {
    width: 45%; 
  }
}


@media (max-width: 768px) {
  .feature-cards {
    flex-direction: column; 
    align-items: center;
  }

  .card {
    width: 80%; 
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
  }
}


.vdo {
  width: 100%; 
  max-width: 600px; 
  height: auto; 
}


@media (max-width: 768px) {
  .vdo {
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .vdo {
    max-width: 90%;
  }
}
